---
import Layout from "../../layouts/Layout.astro";

---
<Layout className="min-h-screen flex flex-col items-center justify-center" title="Authors">
    <h1 class="absolute top-5 text-4xl">Authors of this project</h1>
    <a class="text-center p-4 bg-[#FFFFF0] rounded-lg w-[85%] lg:w-[30%] md:w-[50%] sm:w-[70%] text-black" href="/author/henri">henri</a>
</Layout>