---
import { getCollection, getEntries } from "astro:content";
import Layout from "../layouts/Layout.astro";
const tools = await getCollection("tools");
---
<Layout title="home">
    <div class="p-10 grid grid-cols-5 ">
        {
            tools.map((tool) => (
                <div class="border-2 border-white">
                    <h2>{tool.data.name}</h2>
                    <p>{tool.data.description}</p>
                </div>
            ))
        }
    </div>
</Layout>